{% extends 'base.html' %}
{% block title %}Подтвердить удаление{% endblock %}

{% block content %}
    <div class="container mt-5" style="padding-top: 200px">
        <div class="card shadow-sm p-4">
            <h2 class="mb-4">Вы уверены, что хотите удалить назначение "{{ assignment }}"?</h2>
            <form method="post" class="d-flex gap-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">🗑️ Да, удалить</button>
                <a href="{% url 'assignment_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}
