{% extends 'base.html' %}
{% block title %}Подтверждение удаления{% endblock %}

{% block content %}
<div class="container">
  <div class="card z-depth-2" style="margin-top: 40px;">
    <div class="card-content center-align">
      <h5>Вы уверены, что хотите удалить проект <strong>"{{ project.title }}"</strong>?</h5>
    </div>
    <div class="card-action center-align">
      <form method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn red">Да, удалить</button>
      </form>
      <a href="{% url 'project_list' %}" class="btn grey lighten-1">Отмена</a>
    </div>
  </div>
</div>
{% endblock %}
