{% extends 'base.html' %}
{% block title %}Список преподавателей{% endblock %}
{% block header %}Список преподавателей{% endblock %}
{% block content %}
<a href="{% url 'teacher_create' %}" class="btn btn-success mb-3">Добавить преподавателя</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Контакты</th>
            <th>Кафедра</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.full_name }}</td>
            <td>{{ teacher.contacts }}</td>
            <td>{{ teacher.department }}</td>
            <td>
                <a href="{% url 'teacher_update' teacher.id %}" class="btn btn-sm btn-primary">Редактировать</a>
                <a href="{% url 'teacher_delete' teacher.id %}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
