{% extends 'base.html' %}

{% block title %}Работы{% endblock %}

{% block content %}
    <div class="container mt-4" style="padding-top: 80px;">
        <h1 class="mb-4">Работы студентов</h1>

        <div class="d-flex justify-content-between mb-3" style="margin-top: 20px">
            <a href="{% url 'home' %}" class="btn btn-outline-secondary">🏠 На главную</a>
            <a href="{% url 'work_create' %}" class="btn btn-secondary">➕ Добавить работу</a>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered align-middle">
                <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Проект</th>
                    <th>Студент</th>
                    <th>Название работы</th>
{#                    <th>Файл</th>#}
                    <th>Ссылка</th>
                    <th>Дата загрузки</th>
                    <th class="text-end">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for work in works %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ work.assignment.project.title }}</td>
                        <td>{{ work.assignment.student.full_name }} ({{ work.assignment.student.group }})</td>
                        <td>{{ work.title|default:"—" }}</td>

{#                        <td>#}
{#                            {% if work.file %}#}
{#                                <a href="{{ work.file.url }}" class="btn btn-sm btn-outline-success" target="_blank">📄#}
{#                                    Скачать</a>#}
{#                            {% else %}#}
{#                                <span class="text-muted">—</span>#}
{#                            {% endif %}#}
{#                        </td>#}

                        <td>
                            {% if work.link %}
                                <a href="{{ work.link }}" class="btn btn-sm btn-outline-info" target="_blank">🌐
                                    Открыть</a>
                            {% else %}
                                <span class="text-muted">—</span>
                            {% endif %}
                        </td>

                        <td>{{ work.upload_date|date:"Y-m-d H:i" }}</td>

                        <td class="text-end">
                            <a href="{% url 'work_update' work.id %}" class="btn btn-sm btn-primary">✏️</a>
                            <a href="{% url 'work_delete' work.id %}" class="btn btn-sm btn-danger">🗑️</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center py-4 text-muted">Работы не найдены.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
